// font size
$fs-main: 1.25rem;
// font weight
$fw-main: 400;
$fw-medium: 500;
$fw-bold: 700;

// text color
$color-main: #F9F4DA;
$color-secondary: #8E8E8E;
$color-dark: #323232;

// Status Banner
$color-won: #10A95B;
$color-lost: #BA2A2A;
$color-playing: #7A5EA7;

// keyboard
$key-size: 40px;
$key-gap: 0.2rem;
$key-border-radius: 0.2rem;
$key-correct-color: #10A95B;
$key-wrong-color: #EC5D49;
$key-disabled-color: #8E8E8E;

