@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;
@use '../../styles/placeholders' as *;

.keyboard {
  @include flexCenter(column);
  width: fit-content;
  gap: 0.5rem;
  margin: 0 auto;

  &__row {
    display: flex;
    gap: $key-gap;
  }

  &__key {
    @extend %key-shared;
    @extend %key-hover;
    background-color: #fcba29;

    &.correct {
      background-color: $key-correct-color;
    }
    &.wrong {
      background-color: $key-wrong-color;
    }
    &.disabled {
      background-color: $key-disabled-color;
      cursor: not-allowed;

      &:hover {
        transform: none;
        box-shadow: none;
      }
    }
  }

  &__reset {
    @extend %reset-button;
    @extend %key-hover;
    background-color: #11b5e5;
  }
}

.answerDisplay {
  @include flexCenter;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: auto;
  background-color: rgba($color-main, 0.8);
  color: $color-dark;
  font-size: 2rem;
}